@model RentCarEntity.Models.Carro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Carro</legend>

    <div class="display-label">Marca</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marca.Nome)
    </div>

    <div class="display-label">Modelo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modelo)
    </div>

    <div class="display-label">Placa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Placa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
